*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins}

body{background:#000;color:#fff}

/* HEADER */
header{
 display:flex;
 justify-content:space-between;
 align-items:center;
 padding:20px 50px;
 background:#111;
 position:sticky;
 top:0;
}

.logo{color:gold}

/* NAV BUTTON */
.nav-btn{
 margin-left:15px;
 padding:8px 18px;
 color:gold;
 border-radius:5px;
 transition:.3s;
}

.nav-btn:hover{
 background:red;
 box-shadow:0 0 10px red,0 0 20px gold;
}

/* HERO */
.hero{
 height:90vh;
 display:flex;
 align-items:center;
 justify-content:center;
 text-align:center;
 background:linear-gradient(rgba(0,0,0,.7),rgba(139,0,0,.8)),
 url("images/OIP.jpg") center/cover;
}

.glow-text{
 color:gold;
 text-shadow:0 0 10px gold,0 0 20px red;
}

.hero-content h1 { margin-bottom:15px; font-size:3rem; }
.hero-content p { margin-bottom:25px; font-size:1.5rem; }
.hero-content .btn { padding:15px 30px; font-size:1.1rem; }

/* BUTTON */
.btn{
 padding:12px 25px;
 background:gold;
 color:#000;
 border:none;
 border-radius:5px;
 margin-top:10px;
 cursor:pointer;
}

.btn:hover{
 box-shadow:0 0 15px gold,0 0 30px red;
 transform:scale(1.1);
}

/* SECTION */
.section{padding:70px 50px}
.center{text-align:center;color:gold;margin-bottom:30px}

/* FILTER */
.filter{text-align:center;margin-bottom:20px}

.filter button{
 margin:5px;
 padding:10px 20px;
 background:gold;
 border:none;
 cursor:pointer;
}

.filter button:hover{
 box-shadow:0 0 15px red;
}

/* GRID */
.grid{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
 gap:20px;
}

/* CARD */
.card{
 background:#111;
 padding:20px;
 text-align:center;
 border-radius:10px;
 transition:.3s;
}

.card:hover{
 transform:translateY(-10px);
 box-shadow:0 0 20px red;
}

.card img{
 width:100px;
 height:100px;
 border-radius:50%;
 object-fit:cover;
}

/* VOTE */
.vote-btn{
 margin-top:10px;
 padding:5px 10px;
 background:red;
 color:white;
 border:none;
 cursor:pointer;
}

/* CHARTS */
.charts {
 display:flex;
 justify-content:center;
 gap:50px;
 flex-wrap:wrap;
 margin-top:40px;
}

#barChart, #pieChart {
 max-width:400px;
 max-height:400px;
 background:#111;
 border-radius:10px;
 padding:20px;
 box-shadow:0 0 20px red;
}

/* GALLERY */
.gallery{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
 gap:20px;
}

.gallery img{
 width:100%;
 border-radius:10px;
 transition:.3s;
}

.gallery img:hover{
 transform:scale(1.05);
 box-shadow:0 0 20px gold;
}

/* CONTACT */
.contact-form{
 max-width:400px;
 margin:auto;
 display:flex;
 flex-direction:column;
}

.contact-form input,
.contact-form textarea{
 margin:10px 0;
 padding:10px;
 background:#111;
 color:white;
 border:1px solid #444;
}

/* SOCIAL */
.social{text-align:center;margin-top:20px}

.social a{
 font-size:25px;
 margin:10px;
 color:gold;
}

.social a:hover{
 text-shadow:0 0 10px gold;
}

/* FOOTER */
footer{
 text-align:center;
 padding:20px;
 background:#111;
 color:gold;
}
